body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #F9FBE7;
  }
  
  .container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    margin-top: 10%;
  }
  
  h1 {
    text-align: center;
  }
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
  .types {
    width: 96%;
  }
  
  button {
    background-color: #04AA6D;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  a {
    text-decoration: none;
    color: #00ccff;
    padding-left: 37%;
  }
  #username, #password{
    width: 96%;
  }